:root {
  --blue: #00a9e0;
  --grey: #5b6770;
  --height: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-width: 440px;
  margin-bottom: 20px;
}
header h1 {
  text-transform: uppercase;
  color: var(--blue);
  font-size: var(--height);
}
